.category-item {
    color: white;
    background-color: #444;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    transform: scale(.9);
}

.category-item:hover {
    transform: scale(1);
    background-color: #999;
}

.category-container {
    height: 100%;
    width: 100%;
}